.a{
    display:inline;
    width: 100px;
    height: 60px;
    border: 5px;
    background-color: yellow;
    text-decoration: none;
}
.b{
    display:inline;
    width: 100px;
    height: 60px;
    border: 5px;
    background-color: yellow;
    text-decoration: none;

}

.c{
    display:inline;
    width: 100px;
    height: 60px;
    border: 5px;
    background-color: yellow;
    text-decoration: none;
}
.d{
    display:inline;
    width: 100px;
    height: 60px;
    border: 5px;
    background-color: yellow;
    text-decoration: none;
}


    

        .e{
            display:inline;
            width: 200px;
            height: 60px;
            border: 5px;
            background-color: yellow;}
           

.f{
    display:inline;
    width: 200px;
    height: 60px;
    border: 5px;
    background-color: yellow;
 
}
.g{
    display:inline;
    width: 200px;
    height: 60px;
    border: 5px;
    background-color: yellow;
    
}


#burger-name{
    color: white;
  }
  body{
    background-color: rgb(235, 235, 235);
  }
  #myNavbar{
    color: rgb(196, 4, 4);
    margin: 2px ;
    border: inline-block;
    
  }
  .bigmac{
    margin: 44px ;
    padding: 20px;
    border-radius: 20px;
    border: 56px;
      border-color: rgb(194, 15, 15);
  }
  a{
    text-decoration: none;
  }